/* for phone */
@media (min-width:320px){

       .container{
              display: grid;
              grid-template-columns: auto;
              grid-row-gap: 20px;
              padding: 10px;
              justify-items: center;
              align-content: center;
       }
       .image-box {
              width: 50%;
              height: 150px;
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
              border:2px solid gold;
              border-radius: 1rem;
       }
       .image-box img{
              border-radius: 1rem;
              width: 100%;
              height: 100%;
              object-fit: fill;

       }
     
       .image-box .info{
              position: absolute;
              display: grid;
              grid-template-columns: auto;
              justify-items: center;
              align-content: center;
              bottom: 0;
              border-radius: 1rem;
              width: 100%;
              height: 100%;
       }
       .image-box .info p{
              font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
              position: absolute;
              bottom: 0;
              transform: translateY(0);
              visibility: hidden;
              font-size: 15px;
              padding-bottom: 10px;
              padding-top: 10px;
              color: snow;
              text-align: center;
              background-color: rgba(52, 51, 52, 0.721);
              overflow: hidden;
              backdrop-filter: blur(5px);
              border-radius: 10px;
              width: 100%;
              transition: all 0.9s;
       }
      .info:hover p{
              visibility: visible;
              bottom: 50%;
              transform: translateY(50%);
       
       }



}
/* laptop */
@media (min-width:769px){
       body{
              display: grid;
              justify-items: center;
              align-content: center;
       }
       .container{
              display: grid;
              grid-template-columns: auto auto auto auto;
              grid-template-rows: auto auto auto;
              grid-row-gap: 15px;
              padding: 10px;
              justify-items: center;
              align-content: center;
              height: 100vh;
       }
       .image-box {
              width: 90%;
              height: 150px;
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
              border:2px solid gold;
              border-radius: 1rem;
       }
       .image-box img{
              border-radius: 1rem;
              width: 100%;
              height: 100%;
              object-fit: fill;
       }
     
       .image-box .info{
              position: absolute;
              display: grid;
              grid-template-columns: auto;
              justify-items: center;
              align-content: center;
              bottom: 0;
              border-radius: 1rem;
              width: 100%;
              height: 100%;
       }
       .image-box .info p{
              font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
              position: absolute;
              bottom: 0;
              transform: translateY(0);
              visibility: hidden;
              font-size: 15px;
              padding-bottom: 10px;
              padding-top: 10px;
              color: snow;
              text-align: center;
              background-color: rgba(52, 51, 52, 0.721);
              overflow: hidden;
              backdrop-filter: blur(5px);
              border-radius: 10px;
              width: 100%;
              transition: all 0.9s;
       }
      .info:hover p{
              visibility: visible;
              bottom: 50%;
              transform: translateY(50%);
       
       }     

}
/* desktop */
@media (min-width:1025px){
       body{
              display: grid;
              justify-items: center;
              align-content: center;
              padding: 5px;
       }
       .container{
              display: grid;
              grid-template-columns: auto auto auto auto;
              grid-template-rows: auto auto auto;
              justify-items: center;
              align-content: center;
              grid-gap: 20px;
              margin: 5px;
              padding: 5px;
              height: 97.5vh;
              width: 98%;
       }
       .image-box {
              position: relative;
              display: block;
              justify-content: none;
              align-items: none;
              width: 100%;
              height: 200px;
              flex-grow: 1;
              flex-shrink: 0;
              box-sizing: border-box;
              right: 5px;
              flex-basis: 30%;
              
       }
       .image-box img{
              border-radius: 1rem;
              width: 100%;
              height: 100%;
       }
     
}